.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.miniImg{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fullImg {
    width: 600px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 40px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.fullImg img{
    width: 100%;
}

.selected {
    outline: 4px solid deepskyblue;
    z-index: 1;
}

.small {
    cursor: pointer;
}